<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="Expires" content="-1"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="cache-control" content="no-cache"/>
<title>타이틀</title>
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <link rel="stylesheet" type="text/css" href="../../css/jquery.bxslider.css">

    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <link rel="stylesheet" type="text/css" href="../../css/module.global.css">
    <link rel="stylesheet" type="text/css" href="../../css/page.orders.css">
    <script type="text/javascript" src="../../js/module.all.js"></script>
    <script type="text/javascript" src="../../js/module.bui.js"></script>
    <script type="text/javascript" defer src="../../js/module.bui.template.js"></script>

<style>
	.dataframe {margin-left:10px;width:700px;border-collapse: collapse;border:1px solid black;font-size:12.0pt;}
	.dataframe th {border:1px solid black;font-size:12.0pt;}
	.dataframe td {border:1px solid black;font-size:12.0pt;}
	button:focus {outline: none;}
	.table-list-type th {font-size:12.0pt !important;}
	.table-list-type td {font-size:12.0pt !important}
</style>
</head>
<body>

    <!-- container -->
    <div class="container pt">
        <!-- 상단 네비게이터 -->
        <div class="path">
            <ul>
                <li>분석지원도구</li>
            </ul>
        </div>
        <!-- // 상단 네비게이터 -->
        <div class="section-visual">
            <div class="item">
                <!-- 2020-12-10 텍스트 변경 -->
                <h2 class="h2-title">
                    <span class="f-eng"> KAMP</span>의 <br>
                    제조 <span class="f-eng"> AI</span> 분석도구를
                    활용해 보세요.
                </h2>
                <div class="sub-text">
                    현재 7종의 분석 알고리즘이 준비되어 있으며,<br>
                    향후 제조 특화 전처리 및 AI 분석 알고리즘들을<br>
                    지속해서 추가할 예정입니다.
                </div>
                <!-- // 2020-12-10 텍스트 변경 -->
            </div>
        </div>
        <div class="analysis-step">
            <div class="step-menu">
                <ul>
                    <li class='active'><button id='step7' type="button" class="step icon01">기술통계 <span>Descriptive Statistics</span></button></li>
                    <li><button id='step5' type="button" class="step icon02">상관분석 <span>Correlation Analysis</span></button></li>
                    <li><button id='step1' type="button" class="step icon03">회귀 분석 <span>Regression Analysis</span></button></li>
                    <li><button id='step4' type="button" class="step icon04">계층적 군집분석 <span>Hierarchial Clustering</span></button></li>
                    <li><button id='step9' type="button" class="step icon05">K-평균 군집분석 <span>K-Means Clustering</span></button></li>
                    <li><button id='step2' type="button" class="step icon06">랜덤 포레스트 <span>Randomforest</span></button></li>
                    <li><button id='step3' type="button" class="step icon07">합성곱 신경망 <span>CNN</span></button></li>
                </ul>
            </div>
            <div class="result-box">
                <!-- 최초 화면 -->
                <!-- p class="result-txt">분석 알고리즘을 선택해주세요</p -->
                <!-- //최초 화면 -->
				<!-- 회귀 분석 -->
                <div id="flow1" class="item-flex" style="display:none">
                    <ul>
                        <li><button id='step11' type="button"><div class="item icon08">데이터 입력</div></button></li>
                        <li><button id='step12' type="button"><div class="item icon11">산점도</div></button></li>
                        <li><button id='step13' type="button"><div class="item icon03">회귀분석</div></button></li>
                    </ul>
                </div>
				
				<!-- 랜덤포레스트 -->
                <div id="flow2" class="item-flex" style="display:none">
                    <ul>
                        <li><button id='step21' type="button"><div class="item icon08">데이터 입력</div></button></li>
                        <li><button id='step22' type="button"><div class="item icon06">랜덤포레스트</div></button></li>
                        <li><button id='step23' type="button"><div class="item icon03">시각화</div></button></li>
                    </ul>
                </div>

				<!-- 합성곱신경망 -->
                <div id="flow3" class="item-flex" style="display:none">
                    <ul>
                        <li><button id='step30' type="button"><div class="item icon09">제조 AI<br>데이터셋업로드</div></button></li>
                        <li><button id='step301' type="button"><div class="item icon07">AI 모델 생성</div></button></li>
                        <li><button id='step31' type="button"><div class="item icon10">검사대상<br>제조데이터<br>업로드</div></button></li>
                        <li><button id='step32' type="button"><div class="item icon13">AI 검사 실행</div></button></li>
                        <li><button id='step33' type="button"><div class="item icon14">AI 검사<br>결과보기</div></button></li>
                    </ul>
                </div>

				<!-- 계층적 군집분석 -->
                <div id="flow4" class="item-flex" style="display:none">
                    <ul>
                        <li><button id='step41' type="button"><div class="item icon08">데이터 입력</div></button></li>
                        <li><button id='step42' type="button"><div class="item icon04">계층적 군집분석</div></button></li>
                        <li><button id='step43' type="button"><div class="item icon14">결과보기</div></button></li>
                    </ul>
                </div>

				<!-- K-평균 군집분석 -->
                <div id="flow9" class="item-flex" style="display:none">
                    <ul>
                        <li><button id='step91' type="button"><div class="item icon08">데이터 입력</div></button></li>
                        <li><button id='step92' type="button"><div class="item icon05">K-평균 군집분석</div></button></li>
                        <li><button id='step93' type="button"><div class="item icon14">결과보기</div></button></li>
                    </ul>
                </div>

				<!-- 상관 군집분석 -->
                <div id="flow5" class="item-flex" style="display:none">
                    <ul>
                        <li><button id='step51' type="button"><div class="item icon08">데이터 입력</div></button></li>
                        <li><button id='step52' type="button"><div class="item icon11">산점도</div></button></li>
                        <li><button id='step53' type="button"><div class="item icon02">상관분석</div></button></li>
                    </ul>
                </div>

				<!-- 기술통계 -->
                <div id="flow7" class="item-flex" style="display:block">
                    <ul>
                        <li><button id='step71' type="button"><div class="item icon08">데이터 입력</div></button></li>
                        <li><button id='step72' type="button"><div class="item icon01">기술통계</div></button></li>
                        <li><button id='step73' type="button"><div class="item icon14">결과보기</div></button></li>
                    </ul>
                </div>
				
				
            </div>
			<a id="dataviewbtn" class="btn" style='display:none'><span class="btn-text">데이터보기</span></a>
        </div>
        <!--//content-body-->
    </div>
    <!-- container -->

<!-- 합성곱신경망 데이터셋 입력 -->
<div class="layer-popup module-a system-pop" id="cnndataset" data-bui-toggle="layerPopupTypeA" tabindex="0">
    <div class="popup-item">
        <div class="popup-area" style="width:600px">
            <div class="pop-title">
                <h2>제조 AI 데이터셋업로드</h2>
            </div>
            <div class="pop-container">
                <div class="pop-table">
                    <table>
                        <colgroup>
                            <col width="130px">
                            <col width="auto">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>모델명</th>
                            <td><input type="text" name="modelname" value="조선내화"></td>
                        </tr>
                        <tr class="m_clsname">
                            <th>클래스명1</th>
							<td><input type="text" name="classname" value="정상"></td>
                        </tr>
                        <tr class="m_filename">
                            <th>데이터셋1</th>
                            <td><div class="box-file-input">
                                    <label><input type="file" name="dataset" class="file-input" onchange="onChangeFile(this)"></label>
                                    <span class="filename">선택된 파일이 없습니다</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="m_clsname">
                            <th>클래스명2</th>
							<td><input type="text" name="classname" value="결함"></td>
                        </tr>
                        <tr class="m_filename">
                            <th>데이터셋2</th>
                            <td><div class="box-file-input">
                                    <label><input type="file" name="dataset" class="file-input" onchange="onChangeFile(this)"></label>
                                    <span class="filename">선택된 파일이 없습니다</span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pop-btn-area">
				<div class="btn-area">
					<button type="button" class="button addclass">클래스추가</button>
					<button type="button" class="button delclass">클래스삭제</button>
					<button type="button" class="button primary">업로드</button>
					<button type="button" class="button" data-bui-toggle-inactive="cnndataset">다음</button>
				</div>
            </div>
        </div>
    </div>
</div>

<!-- 합성곱신경망 학습알고리즙 셋팅-->
<div class="layer-popup module-a system-pop" id="cnnsetting" data-bui-toggle="layerPopupTypeA" tabindex="0">
    <div class="popup-item">
        <div class="popup-area" style="width:600px">
        <div class="pop-title">
            <h2>AI 모델 생성</h2>
        </div>
        <div class="pop-container">
            <div class="pop-table">
                <table>
                    <colgroup>
                        <col width="130px">
                        <col width="auto">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>학습모델명</th>
                        <td><select name="modelname"></select>
                        </td>
                    </tr>
                    <tr>
                        <th>Epochs</th>
                        <td><input type="text" name="epochs"  value=20>
							*전체 훈련데이터를 모두 학습시키는 횟수</td>
                    </tr>
                    <tr>
                        <th>Batch Size</th>
                        <td><input type="text" name="batchsize" value=16>
							* 각 Epoch마다 학습시키는 훈련데이터 수</td>
                    </tr>
                    <tr>
                        <th>Leaning Rate</th>
                        <td><input type="text" name="learnrate" value=0.001>
							* 학습될 때마다 주요 학습 변수를 갱신하는 정도</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="pop-btn-area">
            <div class="btn-area">
                <button type="button" class="button primary">AI 모델 생성</button>
                <button type="button" class="button" data-bui-toggle-inactive="cnnsetting">다음</button>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- 합성곱신경망 분류데이터 입력 -->
<div class="layer-popup module-a system-pop" id="cnntest" data-bui-toggle="layerPopupTypeA" tabindex="0">
    <div class="popup-item">
        <div class="popup-area" style="width:800px">
            <div class="pop-title">
                <h2>검사대상 제조데이터 업로드</h2>
            </div>
            <div class="pop-container">
                <div class="pop-table">
                    <table>
                        <colgroup>
                            <col width="130px">
                            <col width="auto">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>모델명</th>
                            <td><select name="modelname"></select></td>
                        </tr>
                        <tr>
                            <th>입력파일<a href="javascript:addtestfile()">[+]</a><a href="javascript:deltestfile()">[-]</a></th>
                            <td><div id="testfile" class="box-file-input">
								<div>
                                    <label><input type="file" accept="image/*" name="filename" class="file-input" onchange="onChangeFile(this)"></label>
                                    <span class="filename">선택된 파일이 없습니다</span>
								</div>
								<div>
                                    <label><input type="file" accept="image/*" name="filename" class="file-input" onchange="onChangeFile(this)"></label>
                                    <span class="filename">선택된 파일이 없습니다</span>
								</div>
								<div>
                                    <label><input type="file" accept="image/*" name="filename" class="file-input" onchange="onChangeFile(this)"></label>
                                    <span class="filename">선택된 파일이 없습니다</span>
								</div>
								<div>
                                    <label><input type="file" accept="image/*" name="filename" class="file-input" onchange="onChangeFile(this)"></label>
                                    <span class="filename">선택된 파일이 없습니다</span>
								</div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pop-btn-area">
				<div class="btn-area">
					<button type="button" class="button primary">업로드</button>
					<button type="button" class="button" data-bui-toggle-inactive="cnntest">다음</button>
				</div>
            </div>
        </div>
    </div>
</div>

<!-- 기술통계분석 설정-->
<div class="layer-popup module-a system-pop" id="statistics" data-bui-toggle="layerPopupTypeA" tabindex="0">
    <div class="popup-item">
        <div class="popup-area" style="width:500px">
        <div class="pop-title">
            <h2>기술통계분석 셋팅</h2>
        </div>
        <div class="pop-container">
            <div class="pop-table">
                <table>
                    <colgroup>
                        <col width="130px">
                        <col width="auto">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>
                            변수<a href="javascript:addcol('#statistics div.cols');">[+]</a>
							<a href="javascript:delcol('#statistics div.cols');">[-]</a>
                        </th>
                        <td>
							<div class="cols">
                            <select name="x_names" class="cb_column" style='margin-left:0px;'></select>
							</div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="pop-btn-area">
            <div class="btn-area">
                <button type="button" class="button primary">분석</button>
                <button type="button" class="button" data-bui-toggle-inactive="statistics">다음</button>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- 산점도 보기 -->
<div class="layer-popup module-a system-pop" id="visual" data-bui-toggle="layerPopupTypeA" tabindex="0">
    <div class="popup-item">
        <div class="popup-area" style="width:1200px">
        <div class="pop-title">
            <h2>산점도 보기</h2>
        </div>
        <div class="pop-container">
            <div class="pop-table">
                <table>
                    <colgroup>
                        <col width="130px">
                        <col width="auto">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>X축</th>
                        <td>
							<div class="cols">
                            <select id="v_dep_val" class="cb_column" style='margin-left:0px;'></select>
							</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Y축</th>
                        <td>
							<div class="cols">
                            <select id="v_ind_val" class="cb_column" style='margin-left:0px;'></select>
							</div>
                        </td>
                    </tr>
					<tr>
						<td colspan=2>
							<div class="col-sm-10" id="plot_info" style="width:650px; height:500px;"></div>
						</td>
					</tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="pop-btn-area">
            <div class="btn-area">
                <button type="button" class="button primary viewplot">그래프보기</button>
                <button type="button" class="button primary saveplot">그래프저장</button>
                <button type="button" class="button" data-bui-toggle-inactive="visual">다음</button>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- 회귀분석 알고리즘 셋팅 -->
<div class="layer-popup module-a system-pop" id="regression" data-bui-toggle="layerPopupTypeA" tabindex="0">
    <div class="popup-item">
        <div class="popup-area" style="width:500px">
        <div class="pop-title">
            <h2>회귀분석 알고리즘셋팅</h2>
        </div>
        <div class="pop-container">
            <div class="pop-table">
                <table>
                    <colgroup>
                        <col width="130px">
                        <col width="auto">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>독립변수</th>
                        <td>
                            <select id="dep_val" class="cb_column"></select>
                        </td>
                    </tr>
                    <tr>
                        <th>종속변수</th>
                        <td>
                            <select id="ind_val" class="cb_column"></select>
                        </td>
                    </tr>
                    <tr>
                        <th>신뢰구간(%)</th>
                        <td>
                            <select id="confidence_interval"></select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pop-btn-area">
            <div class="btn-area">
                <button type="button" class="button primary">분석</button>
                <button type="button" class="button" data-bui-toggle-inactive="regression">다음</button>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- 군집분석 알고리즘 설정-->
<div class="layer-popup module-a system-pop" id="cluster" data-bui-toggle="layerPopupTypeA" tabindex="0">
    <div class="popup-item">
        <div class="popup-area"  style="width:500px">
        <div class="pop-title">
            <h2>군집분석 알고리즘 셋팅</h2>
        </div>
        <div class="pop-container">
            <div class="pop-table">
                <table>
                    <colgroup>
                        <col width="130px">
                        <col width="auto">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>변수<a href="javascript:addcol('#cluster div.cols');">[+]</a>
							<a href="javascript:delcol('#cluster div.cols');">[-]</a>
						</th>
                        <td>
							<input type='hidden' id="clustertype" value="">
							<div class="cols">
                            <select name="x_names" class="cb_column" style='margin-left:0px;'></select>
							</div>
                        </td>
                    </tr>
                    <tr>
                        <th>케이스 레이블 기준변수</th>
                        <td><select name="target_name" class="cb_column" style='margin-left:0px;'></select></td>
                    </tr>
                    <tr class="clustertype1">
                        <th>최소군집수</th>
						<td><input type="text" name="mink" value=2 style='margin-left:0px;'></td>
                    </tr>
                    <tr class="clustertype1">
                        <th>최대군집수</th>
						<td><input type="text" name="maxk" value=6 style='margin-left:0px;'></td>
                    </tr>
                    <tr class="clustertype2">
                        <th>최대반복계산</th>
						<td><input type="text" name="max_iter" value=2 style='margin-left:0px;'></td>
                    </tr>
                    <tr class="clustertype2">
                        <th>수렴기준</th>
						<td><input type="text" name="converge" value=6 style='margin-left:0px;'></td>
                    </tr>
                    <tr class="clustertype2">
                        <th>군집수</th>
						<td><input type="text" name="k" value=2 style='margin-left:0px;'></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pop-btn-area">
            <div class="btn-area">
                <button type="button" class="button primary">분석</button>
                <button type="button" class="button" data-bui-toggle-inactive="cluster">다음</button>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- 랜덤 포레스트 알고리즘 설정-->
<div class="layer-popup module-a system-pop" id="randomforest" data-bui-toggle="layerPopupTypeA" tabindex="0">
    <div class="popup-item">
        <div class="popup-area" style="width:500px">
        <div class="pop-title">
            <h2>렌덤포레스트 알고리즘 셋팅</h2>
        </div>
        <div class="pop-container">
            <div class="pop-table">
                <table>
                    <colgroup>
                        <col width="130px">
                        <col width="auto">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>종속변수</th>
                        <td><select id="rf_target_name" class="cb_column" style='margin-left:0px;'></select></td>
                    </tr>
                    <tr>
                        <th>예측자<a href="javascript:addcol('#randomforest div.cols');">[+]</a>
							<a href="javascript:delcol('#randomforest div.cols');">[-]</a>
						</th>
                        <td>
							<div class="cols">
                            <select name="rf_x_names" class="cb_column" style='margin-left:0px;'></select>
							</div>
                        </td>
                    </tr>
                    <tr>
                        <th>나무수</th>
						<td><input type="text" id="rf_numoftree" value=500 style='margin-left:0px;'></td>
                    </tr>
                    <tr>
                        <th>R난수시작값:</th>
						<td><input type="text" id="rf_rand" value=123 style='margin-left:0px;'></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pop-btn-area">
            <div class="btn-area">
                <button type="button" class="button primary">분석</button>
                <button type="button" class="button" data-bui-toggle-inactive="randomforest">다음</button>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- 상관분석 설정-->
<div class="layer-popup module-a system-pop" id="corelation" data-bui-toggle="layerPopupTypeA" tabindex="0">
    <div class="popup-item">
        <div class="popup-area" style="width:500px">
        <div class="pop-title">
            <h2>상관분석 알고리즘 셋팅</h2>
        </div>
        <div class="pop-container">
            <div class="pop-table">
                <table>
                    <colgroup>
                        <col width="130px">
                        <col width="auto">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>
                            변수<a href="javascript:addcol('#corelation div.cols');">[+]</a>
							<a href="javascript:delcol('#corelation div.cols');">[-]</a>
                        </th>
                        <td>
							<div class="cols">
                            <select name="x_names" class="cb_column" style='margin-left:0px;'></select>
							</div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="pop-btn-area">
            <div class="btn-area">
                <button type="button" class="button primary">분석</button>
                <button type="button" class="button" data-bui-toggle-inactive="corelation">다음</button>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- 결과 보기 -->
<div class="layer-popup module-a system-pop" id="resultviewer" data-bui-toggle="layerPopupTypeA" tabindex="0">
    <div class="popup-item">
        <div class="popup-area" style="width:1200px">
            <div class="pop-title">
                <h2>결과 보기</h2>
            </div>
            <div class="pop-container">
				<div class="border p-5" style="width:1150px;height:600px;overflow:auto" id="ana_info"></div>
            </div>
            <div class="pop-btn-area">
                <div class="btn-area">
                    <button type="button" class="button primary saveresult">결과저장</button>
                    <button type="button" class="button" data-bui-toggle-inactive="resultviewer">다음</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 검사결과 보기 -->
<div class="layer-popup module-a system-pop" id="resultviewer2" data-bui-toggle="layerPopupTypeA" tabindex="0">
    <div class="popup-item">
        <div class="popup-area" style="width:1200px">
            <div class="pop-title">
                <h2>AI 검사 결과보기</h2>
            </div>
            <div class="pop-container">
				<div class="border p-5" style="width:1150px;height:650px;overflow:auto" id="ana_info2"></div>
            </div>
            <div class="pop-btn-area">
                <div class="btn-area">
                    <button type="button" class="button primary saveresult">검사결과저장</button>
                    <button type="button" class="button" data-bui-toggle-inactive="resultviewer">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 학습결과 보기 -->
<div class="layer-popup module-a system-pop" id="resultviewer3" data-bui-toggle="layerPopupTypeA" tabindex="0">
    <div class="popup-item">
        <div class="popup-area" style="width:1200px">
            <div class="pop-title">
                <h2>AI 모델 생성 학습 결과보기</h2>
            </div>
            <div class="pop-container">
				<div class="border p-5" style="width:1150px;height:650px;overflow:auto" id="ana_info3"></div>
            </div>
            <div class="pop-btn-area">
                <div class="btn-area">
                    <b style='float:left'>* AI 모델 생성 학습 결과보기를 저장하는 것을 권고합니다.</b>
                    <button type="button" class="button primary saveresult">학습결과저장</button>
                    <button type="button" class="button" data-bui-toggle-inactive="resultviewer">다음</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 데이터보기 -->
<div class="layer-popup module-a system-pop" id="dataviewer" data-bui-toggle="layerPopupTypeA" tabindex="0">
    <div class="popup-item">
        <div class="popup-area" style="width:1200px">
            <div class="pop-title">
                <h2>상세 데이터</h2>
            </div>
            <div class="pop-container">
                <div class="code-list type02">

                    <div class="table-type">
                        <table class="table-list-type" style="font-size:16.0pt; width:100%"><!-- 테이블 size 지정 필요 -->
                            <colgroup>
                                <col width="*">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Machine_Name</th>
                                <th>Item No</th>
                                <th>working time</th>
                                <th>Thickness 1(mm)</th>
                                <th>Thickness 2(mm)</th>
                                <th>weld force(bar)</th>
                                <th>weld current(kA) </th>
                                <th>weld Voltage(v)</th>
                                <th>weld time(ms) </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>30</td>
                                <td>Spot-01</td>
                                <td>65235-25800</td>
                                <td>3/24/2020 0:00</td>
                                <td>0.7</td>
                                <td>0.7</td>
                                <td>2.36
                                </td>
                                <td>14.56
                                </td>
                                <td>2.7
                                </td>
                                <td>71
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="pop-btn-area">
                <div class="btn-area">
                	<b style='float:left'>* 상세 데이터는 소수점 3자리까지만 표현됩니다.</b>
                    <button type="button" class="button" data-bui-toggle-inactive="dataviewer">닫기</button>
                    <!--<button type="button" class="button primary">결과저장</button>-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 메세지박스 -->
<div class="layer-popup module-a system-pop" id="msgbox" data-bui-toggle="layerPopupTypeA" tabindex="0">
    <div class="popup-item">
        <div class="popup-area" style="width:700px">
            <div class="pop-title">
                <h2>데이터셋 입력</h2>
            </div>
            <div class="pop-container">
                분석이 완료되었습니다. <br>
                결과 보기에서 결과를 확인하세요.
            </div>
            <div class="pop-btn-area">
                <div class="btn-area">
                    <button type="button" class="button" data-bui-toggle-inactive="msgbox">다음</button>
                    <!--<button type="button" class="button primary">결과저장</button>-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 처리중 -->
<div class="layer-popup module-a system-pop" id="loading" data-bui-toggle="layerPopupTypeB" tabindex="0">
	<div class="popup-area" style='width:600px;height:190px'>
	   <div class="pop-container">
			<div class="pop-loading" style="width:600px;">
				<center><span class='msgtime' style='font-size:18px;color:yellow;'>00:00</span></center>
				<p class="loading-tit">
				<label class="msgtxt">분석중입니다</label>
				<span>잠시만기다려주세요</span>
				</p>
				<div class="loading-bar"></div>
			</div>
		</div>
	</div>
</div>

<input type="file" accept=".csv,.xls,.xlsx,.txt" id='file' style="display:none">
<!-- wrap -->
<script type="text/javascript" src="../../js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../../js/jquery.bxslider.js"></script>
<script type="text/javascript" src="../../js/common_ui.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></script>
<script type = "text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script type = "text/javascript" src = "https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

<script src="/upload/baseapp.js" type="text/javascript"></script>
</body>
</html>

<!-- 스크립트 영역 -->
<script type="text/javascript">

function onChangeFile(e){
	var filename = e.value;
	var p = filename.lastIndexOf("\\");
	if(p>0) filename = filename.substring(p+1);
	p = filename.lastIndexOf("/");
	if(p>0) filename = filename.substring(p+1);
	e.parentNode.nextElementSibling.innerHTML =  filename;
}

var st = null;
var loading_timer = null;

function loading_time()
{
	var dur = Math.floor(((new Date()).getTime()-st)/1000);
	var min = Math.floor(dur/60);
	var sec = dur%60;
	
	if(min==0) min="00";
	else if(min<10) min = "0"+min;
	else min = ""+min;
	
	if(sec==0) sec="00";
	else if(sec<10) sec = "0"+sec;
	
	min = min.substring(min.length-2);
	$('#loading .msgtime').text(min+":"+sec);
}

function start_loading(msg)
{
	st = (new Date()).getTime();
	if(loading_timer!=null) clearInterval(loading_timer);
	loading_timer = setInterval(loading_time, 1000);

	$('#loading .msgtime').text("00:00");
	$('#loading .msgtxt').text(msg);
	layerPopupTypeB.toggle('loading');	
}

function stop_loading()
{
	if(loading_timer!=null) clearInterval(loading_timer);
	loading_timer = null;
	layerPopupTypeB.toggle('loading');
}

function msg_alert(title, msgtext)
{
	$("#msgbox .pop-title").text(title);
	$("#msgbox .pop-container").text(msgtext);
	layerPopupTypeA.toggle('msgbox');
}

var input_data = null;
var input_file = null;
var upload_path = null;

function download(filename, text) {
	if (navigator.msSaveBlob) { // IE
		var BOM = "\uFEFF";
		//익스플로러면..
        var blobObject = new Blob([BOM + text], {type: 'type: "text/plain; charset=utf-8"'});
        window.navigator.msSaveOrOpenBlob(blobObject, filename);
		return;
    }
    var pom = document.createElement('a');
    pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    pom.setAttribute('download', filename);

    if (document.createEvent) {
        var event = document.createEvent('MouseEvents');
        event.initEvent('click', true, true);
        pom.dispatchEvent(event);
    }
    else {
        pom.click();
    }
}

function urldownload(filename, url) {
	if (navigator.msSaveBlob) { //IE
		var imgData = atob(url.split(',')[1]),
		len = imgData.length,
		buf = new ArrayBuffer(len),
		view = new Uint8Array(buf),
		blob,
		i;
		for (i = 0; i < len; i++) {
			view[i] = imgData.charCodeAt(i) & 0xff; // masking
		}
		var blobObject = new Blob([view], {type: 'application/octet-stream'});
        window.navigator.msSaveOrOpenBlob(blobObject, filename);
		return;
    }
    var pom = document.createElement('a');
    pom.setAttribute('href', url);
    pom.setAttribute('download', filename);

    if (document.createEvent) {
        var event = document.createEvent('MouseEvents');
        event.initEvent('click', true, true);
        pom.dispatchEvent(event);
    }
    else {
        pom.click();
    }
}

function readExcel(file, callback) {
    let reader = new FileReader();
    reader.onload = function () {
        let data = reader.result;
        let workBook = XLSX.read(data, { type: 'binary' });
        workBook.SheetNames.forEach(function (sheetName) {
            console.log('SheetName: ' + sheetName);
            let rows = XLSX.utils.sheet_to_json(workBook.Sheets[sheetName]);
//            console.log(JSON.stringify(rows));
			callback(rows);
			
        })
    };
    reader.readAsBinaryString(file);
}

function fileread(file, callback)
{
	var reader = new FileReader();
	reader.onload = function() {callback(reader.result);};
	reader.readAsText(file);
//	reader.readAsText(file,"UTF-8");
}

$('button.step').click(function(){
	var idx = $(this).attr("id").replace("step","");
	$('.step-menu > ul > li.active').removeClass('active');
	$(this).parent().addClass('active');
	$('.item-flex').hide();
	$('#flow'+idx).show();
	initflow('#flow'+idx);

});

//csv to jsonlist
function csvtolist(data, deli, header)
{
	if(deli===undefined) deli = ",";
	if(header===undefined) header = true;
	
	var lst = [];
	var columns = [];
	var lines = data.split("\n");
	for(var i in lines)
	{
		var line = lines[i].replace("\r","");
		if(line.length<=0) continue;
		var record = {};
		var cols = line.split(deli);
		if(i==0){
			if(header){
				for(j in cols) columns.push(cols[j]);
				continue;
			}
			else for(j in cols) columns.push("column_"+j);
		}
		
		for(j in cols) {
			if(!cols[j].indexOf("\"")==0) record[columns[j]] = cols[j];
			else record[columns[j]] = cols[j].substring(1, cols[j].length-1);
		}
		lst.push(record);
	}
	return lst;
}

function fmtstr(v)
{
	if(!$.isNumeric(v)) return v;
	
	var str = ""+v;
	var vals = str.split(".");
	if(vals[0].length>3)
	{
		cs = vals[0];
		vals[0]="";
		while(cs.length>3)
		{
			vals[0] = ","+cs.substring(cs.length-3)+vals[0];
			cs = cs.substring(0,cs.length-3);
		}
		vals[0] = cs+vals[0];
	}
	if(vals.length>1 && vals[1].length>3) {
		vals[1] = vals[1].substring(0,3);
	}
	if(vals.length>1) return vals[0]+"."+vals[1];
	else return vals[0];
}

function dataloaded(name, data)
{
	input_data = data;
	//table-list-type
	
	var keys = Object.keys(input_data[0]);
	
	$('.table-list-type').css("width", keys.length*150+"px");

	var thead = "<tr>";
	for(var i in keys) thead += "<th>"+keys[i]+"</th>";
	thead += "</tr>";
	$('.table-list-type thead').empty().append(thead);
	$('.table-list-type tbody').empty();
	input_data.forEach(function(row){
		var tr = "<tr>";
		for(var i in keys) tr += "<td>"+fmtstr(row[keys[i]])+"</td>";
		tr += "</tr>";
		$('.table-list-type tbody').append(tr);
	});

	$('#dataviewbtn').text("["+name+"] 데이터보기");
	$('#dataviewbtn').show();
}

$('#dataviewbtn').click(function(){
	layerPopupTypeA.toggle('dataviewer')
});

$('#step11,#step21,#step41,#step51,#step61,#step71,#step81,#step91').click( function() {

	var id = $(this).attr("id");
	$('#file').unbind('change').change(function() {
		input_file = $('#file').get(0).files[0];
		var file = input_file;
		var fileName = file.name;
//		$('#'+id).text(fileName);
		
		if(fileName.indexOf(".xls")>0)
		{
			readExcel(file,function(list){
				dataloaded(fileName, list);
//				datagrid("status",input_data,"190");
				$(".cb_column").empty();
				var keys = Object.keys(input_data[0]);
				for(var i in keys) $(".cb_column").append("<option>"+keys[i]+"</option>");
			
			});
		
		}
		else fileread(file,function(res) {
			dataloaded(fileName, csvtolist(res,",",true));
//			datagrid("status",input_data,"190");
			$(".cb_column").empty();
			var keys = Object.keys(input_data[0]);
			for(var i in keys) $(".cb_column").append("<option>"+keys[i]+"</option>");
		});
		
		var formData = new FormData();
		formData.append('filename', input_file);

		$.ajax({
      	  type: "POST",
      	  url: '/uploadfile',
      	  data: formData,
//          enctype: 'multipart/form-data',
      	  contentType: false,
      	  processData: false,
      	  cache: false,
      	  complete: function(res) {
                var obj = JSON.parse(res.responseText);
                console.log(obj);
				upload_path = obj.path;
      	  },
      	  error: function(jqXHR, textStatus, errorThrown) {
                msg_alert('업로드', '업로드 에 실패 하였습니다.');
      	  }
      	});
		

	});

	$('#file').attr('accept','.csv,.xls,.xlsx,.txt');
	$('#file').click();

});

for(var i=5; i<=100; i+=5) $('#confidence_interval').append("<option>"+ i +"</option>");
$('#confidence_interval').val("95");

$('#step12,#step52').click( function() {
	layerPopupTypeA.toggle('visual');
	if($(this).attr('id')=="step12") $('#visual h2').text('회귀분석 산점도');
	else  $('#visual h2').text('상관분석 산점도');
	
	$('#visual button.viewplot').unbind('click').click(function() {
		var dep = $("#v_dep_val").val();
		var ind = $("#v_ind_val").val();

		if(ind==dep)
		{
			msg_alert('오류', '독립변수와 종속변수를 다르게 선택해주세요.');
			return;
		}
		
		console.log(dep,ind);
		
		start_loading('분석중입니다.');
		var cmds = ["/python/regress_plot.sh",upload_path,ind,dep];
		var d = {};
		d.cmd=cmds.join("@");
		d.deli= "@";

		$.post('/shell',d).done(function(res){
			stop_loading();
			if(res.success)
			{
				$('#plot_info').html(res.result);
			}
		});
	});
	
	$('#visual button.saveplot').unbind('click').click(function() {
	
		var url = $('#plot_info img').attr('src');
		if(url===undefined || url == "")
		{
			msg_alert('오류', '저장할 결과가 없습니다.');
			return;
		}
		urldownload("result_plot_"+ymd()+".png", url);

	});	
});

$('#step13').click( function() {

	$("#dep_val").val($("#v_dep_val").val());
	$("#ind_val").val($("#v_ind_val").val());

	layerPopupTypeA.toggle('regression');
	$('#regression button.primary').unbind('click').click(function() {
	
		var dep = $("#dep_val").val();
		var ind = $("#ind_val").val();
//		var predict = $("#predict").val();
		var confidence_interval = $("#confidence_interval").val();

		if(ind==dep)
		{
			msg_alert('오류', '독립변수와 종속변수를 다르게 선택해주세요.');
			return;
		}
		/*
		if(predict==""){
			msg_alert('예측값', '예측하고자하는 '+ind+'값을 입력해주세요..');
			return;
		}
		*/
	
		console.log(dep,ind,confidence_interval);
	
		layerPopupTypeA.toggle('regression');
	
		start_loading('분석중입니다.');
		var cmds = ["/python/regress.sh",upload_path,ind,dep,"10",confidence_interval/100];
		var d = {};
		d.cmd=cmds.join("@");
		d.deli= "@";

		$.post('/shell',d).done(function(res){
			stop_loading();
			if(res.success)
			{
				$('#ana_info').html(res.result);
				$('#resultviewer h2').text('회귀분석 결과');
				layerPopupTypeA.toggle('resultviewer');
			}
		});	
	
	
	});
});

// 랜덤포레스트
$('#step22').click( function() {
	layerPopupTypeA.toggle('randomforest');
	$('#randomforest button.primary').unbind('click').click(function() {
	
		var rf_target_name = $("#rf_target_name").val();
		var rf_x_names = allval("#randomforest [name=rf_x_names]");
	
		var rf_numoftree = $("#rf_numoftree").val();
		var rf_rand = $("#rf_rand").val();
	
		layerPopupTypeA.toggle('randomforest');
	
		start_loading('분석중입니다.');
		var cmds = ["/python/randomforest_v1.sh",upload_path,rf_x_names,rf_target_name,rf_numoftree,rf_rand];
		var d = {};
		d.cmd=cmds.join("@");
		d.deli= "@";

		$.post('/shell',d).done(function(res){
			stop_loading();
			if(res.success)
			{
				msg_alert('분석완료', '분석이 완료되었습니다. 시각화에서 결과를 확인하세요.');
				$('#ana_info').html(res.result);
			}
		});	
	
	});
});

function addcol(selector)
{
	if(selector!==undefined)
	{
		$(selector).append($(selector + " select:first").clone());
		return;
	}

	$("[name=rf_x_names]:eq(0)").parent().append($("[name=rf_x_names]:eq(0)").clone())
}

function delcol(selector)
{
	if(selector!==undefined)
	{
		if($(selector+" select").length>1) $(selector + " select:last").remove();
		return;
	}

	if($("[name=rf_x_names]").length<=1) return;
	$("[name=rf_x_names]:last").remove();
}

$('#resultviewer button.saveresult').unbind('click').click(function() {
	var html = $('#ana_info').html();
	download("result_"+ymd()+".html", html);
});

$('#step23,#step43,#step63,#step73,#step83,#step93').click( function() {

	var id = $(this).attr("id");
	if(id=="step43") $('#resultviewer h2').text('계층적군집분석 결과');
	else if(id=="step73") $('#resultviewer h2').text('기술통계분석 결과');
	else if(id=="step93") $('#resultviewer h2').text('K-평균군집분석 결과');
	else if(id=="step23") $('#resultviewer h2').text('랜덤포레스트분석 결과');
	else $('#resultviewer h2').text('결과보기');
	layerPopupTypeA.toggle('resultviewer');
	/*
	$('#resultviewer button.saveresult').unbind('click').click(function() {
		var html = $('#ana_info').html();
		download("result_"+ymd()+".html", html);
	});
	*/
});

$('#step33').click( function() {
	layerPopupTypeA.toggle('resultviewer2');
	$('#resultviewer2 button.saveresult').unbind('click').click(function() {
		var html = $('#ana_info2').html();
		download("result_"+ymd()+".html", html);
	});
});

$('#resultviewer3 button.saveresult').unbind('click').click(function() {
	var html = $('#ana_info3').html();
	download("result_"+ymd()+".html", html);
});

function ymd()
{
	var ct = new Date();
	return ct.getFullYear()+"-"+(ct.getMonth()+1)+"-"+ct.getDate();
}

var modelname = "";
var dataset = [];
var classname = [];
var testfile = [];

$('.addclass').click(function() {

	$('#cnndataset table tbody').append($('.m_clsname:first').clone());
	$('#cnndataset table tbody').append($('.m_filename:first').clone());
	$('.m_clsname').each(function(i,e) {
		$(e).find('th:eq(0)').text("클래스명"+(i+1)+":");
	});
	$('.m_filename').each(function(i,e) {
		$(e).find('th:eq(0)').text("데이터셋"+(i+1)+":");
	});

});

$('.delclass').click(function() {
	if($('.m_clsname').length<=2) return;
	$('.m_clsname:last').remove();
	$('.m_filename:last').remove();
});

//CNN 데이터셋
$('#step30').click(function() {
	layerPopupTypeA.toggle('cnndataset');

	$('#cnndataset button.primary').unbind('click').click(function() {
		dataset = [];
		classname = [];
		modelname = $('#cnndataset input[name=modelname]').val();
		
		if(modelname=="")
		{
			msg_alert('입력오류', '모델명을 입력하지 않았습니다.');
			return;
		}
		
		var err = false;
		$('#cnndataset input[name=classname]').each(function(i,e){
		
			var val = $(e).val();
			if(val.length==0)
			{
				err = true;
				return;
			}
			classname.push(val);
		});
		
		if(err)
		{
			msg_alert('입력오류', '클래스명을 입력하지 않았습니다.');
			return;
		}
		
		var formData = new FormData();
		$('#cnndataset input[name=dataset]').each(function(i,e){
			if($(e).get(0).files.length==0) {
				err = true;
				return;
			}
			formData.append('filename', $(e).get(0).files[0]);
		});
		
		if(err)
		{
			msg_alert('입력오류', '제조 AI 데이터셋을 입력하지 않았습니다.');
			return;
		}

		$('select[name=modelname]').empty().append('<option>'+modelname+'</option>');

		layerPopupTypeA.toggle('cnndataset');
		start_loading('제조 AI 데이터셋을 업로드중입니다.');
		$.ajax({
      	  type: "POST",
      	  url: '/uploadfiles',
      	  data: formData,
//          enctype: 'multipart/form-data',
      	  contentType: false,
      	  processData: false,
      	  cache: false,
      	  complete: function(res) {
                var obj = JSON.parse(res.responseText);
                console.log(obj);
				dataset = obj.path;
				stop_loading();
                msg_alert('제조 AI 데이터셋 업로드', '제조 AI 데이터셋을 업로드하였습니다. AI 모델을 생성하여 주세요');
      	  },
      	  error: function(jqXHR, textStatus, errorThrown) {
				stop_loading();
                msg_alert('업로드', '업로드 에 실패 하였습니다.');
      	  }
      	});
	});
});

//CNN 모델생성
$('#step301').click(function() {
	layerPopupTypeA.toggle('cnnsetting');
	
	$('#cnnsetting button.primary').unbind('click').click(function() {
		modelname = $('#cnnsetting select[name=modelname]').val();
		epochs = $('#cnnsetting [name=epochs]').val();
		batchsize = $('#cnnsetting [name=batchsize]').val();
		learnrate = $('#cnnsetting [name=learnrate]').val();
		if(modelname==null || modelname=="")
		{
		    msg_alert('모델없음', '모델명을 선택하지 않았습니다.');
			return;
		}
		if(classname.length==0)
		{
		    msg_alert('학습데이터셋없음', '제조 AI 데이터셋을 업로드하지 않았습니다.');
			return;
		}
		layerPopupTypeA.toggle('cnnsetting');
		start_loading('AI 모델을 생성중입니다.');
		var cmds = ["/CNN/cnnfitn.sh", modelname];
		for(var i=0; i<classname.length; i++) {
			cmds.push(classname[i]);
			cmds.push(dataset[i]);
		}
		var cmds = ["/CNN/cnnfitdemo.sh", modelname, classname[0], classname[1], dataset[0], dataset[1], epochs, batchsize, learnrate];

		var d = {};
		d.cmd=cmds.join("@");
		d.deli= "@";

		$.post('/shell',d).done(function(res){
			stop_loading();
			if(res.success)
			{
	//			App.msg_alert('모델이생성', '모델이생성되었습니다.');
	//			$('#cnnsettingModal').modal('hide');
				var html = res.result;
				html = html.replace(//gi, ""); 
				$('#ana_info3').html(html);
				layerPopupTypeA.toggle('resultviewer3');
			}
		});
	});
});

//CNN 테스트데이트 입력
$('#step31').click(function() {

	$.post('/shell',{cmd:"/CNN/cnnlst.sh"}).done(function(res){
		if(res.success)
		{
			var ls = res.result.trim().split("\n");
			$('#cnntest select[name=modelname]').empty();
			
			ls.forEach(function(l) { 
				var sp = l.lastIndexOf("/");
				var ep = l.lastIndexOf(".");
				l = l.substring(sp+1,ep);
				$('#cnntest select[name=modelname]').append("<option>"+l+"</option>");
			});
			if(modelname!="") $('#cnntest select[name=modelname]').val(modelname);
		}
    });
	
	layerPopupTypeA.toggle('cnntest');

	$('#cnntest button.primary').unbind('click').click(function() {
	
		modelname = $('#cnntest select[name=modelname]').val();
		if(modelname=="")
		{
			msg_alert('AI 모델 선택', 'AI 모델을 선택하지 않았습니다.');
			return;
		}
		var fcnt = 0;
		var formData = new FormData();
		$('#cnntest input[name=filename]').each(function(i,e) {
			if($(e).get(0).files.length>0) {
				formData.append('filename', $(e).get(0).files[0]);
				fcnt++;
			}
		});
		if(fcnt<=0)
		{
			msg_alert('파일선택', '파일을 선택하지 않았습니다.');
			return;
		}

		$.ajax({
      	  type: "POST",
      	  url: '/uploadfiles',
      	  url: '/uploadfiles',
      	  data: formData,
//          enctype: 'multipart/form-data',
      	  contentType: false,
      	  processData: false,
      	  cache: false,
      	  complete: function(res) {
                var obj = JSON.parse(res.responseText);
                console.log(obj);
				testfile = obj.path;
				layerPopupTypeA.toggle('cnntest');
				msg_alert('검사대상 제조데이터 업로드', '검사대상 제조데이터를 업로드하였습니다. AI 검사를 실행하여 주세요.');
      	  },
      	  error: function(jqXHR, textStatus, errorThrown) {
                msg_alert('검사대상 제조데이터 업로드', '검사대상 제조데이터 업로드 에 실패 하였습니다.');
      	  }
      	});
	});

});

$('#step32').click(function() {
	if(modelname=="" || testfile.length<=0)
	{
		msg_alert('검사대상 제조데이터입력오류', '검사대상제조데이터를 입력하지 않았습니다.');
		return;
	}
	
	$.post('/fileinfo',{filename:"CNN/model/"+modelname+".h5"}).done(function(res){
		if(res.success)
		{
			start_loading('AI 검사 실행중입니다.');
			testfiles = testfile.join(',');
			var cmds = ["/CNN/cnnn.sh",modelname, testfiles];
			var d = {};
			d.cmd=cmds.join("@");
			d.deli= "@";

			$.post('/shell',d).done(function(res){
				stop_loading();
				if(res.success)
				{
					msg_alert('AI 검사 실행 완료', 'AI 검사가 완료되었습니다. AI 검사 결과보기에서 결과를 확인하세요.');
					$('#ana_info2').html(res.result);
				}
			});	
		
		} else{
			msg_alert('AI 검사 실행실패', '모델이 없습니다. 모델을 먼저 생성해주세요.');
		}
	});
});

function addtestfile()
{
	$('#testfile').append($('#testfile div:first').clone());
}

function deltestfile()
{
	if($('#testfile div').length<=1) return;
	$('#testfile div:last').remove();
}

$('#clustertype').change(function() {
	if($('#clustertype').val()=="계층적 군집분석")
	{
		$('.clustertype2').hide();
		$('.clustertype1').show();
	}
	else
	{
		$('.clustertype1').hide();
		$('.clustertype2').show();
	}
});

function execshell(cmds,callback) {

	start_loading('분석중입니다.');
	var d = {};
	d.cmd = cmds.join("@");
	d.deli= "@";
	$.post('/shell',d).done(function(res){
		stop_loading();
		if(res.success)
		{
			if(callback!==undefined) callback(res.result);
			else {
				$('#ana_info').html(res.result);
				msg_alert('분석완료', '분석이 완료되었습니다. 결과보기에서 확인하세요.');
			}
		}
    });

}

// 군집 설정
$('#step42,#step92').click( function() {
	
	layerPopupTypeA.toggle('cluster');
	$('#cluster button.primary').unbind('click').click(function() {
		var cmds = [];
		if($('#clustertype').val()=="계층적 군집분석"){
			cmds.push("/python/clustering1.sh");
			cmds.push(upload_path);
			cmds.push(allval("#cluster [name=x_names]"));
			cmds.push($("#cluster [name=target_name]").val());
			cmds.push($("#cluster [name=mink]").val());
			cmds.push($("#cluster [name=maxk]").val());
		} else {
			cmds.push("/python/clustering2.sh");
			cmds.push(upload_path);
			cmds.push(allval("#cluster [name=x_names]"));
			cmds.push($("#cluster [name=target_name]").val());
			cmds.push($("#cluster [name=max_iter]").val());
			cmds.push($("#cluster [name=converge]").val());
			cmds.push($("#cluster [name=k]").val());
		}
		layerPopupTypeA.toggle('cluster');
		execshell(cmds);
	});
});

// 각 flow 초기화 코드 ...
function initflow(sel)
{
	if(sel=="#flow4" || sel=="#flow9") // 군집분석
	{
		var type = sel=="#flow4"?"계층적 군집분석":"K-평균군집";
		$('#clustertype').val(type);
		
		$('#cluster h2').text(type+" 알고리즘 셋팅");
	
		$('#clustertype').change();
	}
}

//해당 항목의 값을 모두가져옴
function allval(selector)
{
	val = "";
	$(selector).each(function(i,e){
		if(val!="") val += ",";
		val += $(e).val();
	});
	return val;
}
// 상관분석
$('#step53').click( function() {

	while($("#corelation [name=x_names]").length>2) $("#corelation [name=x_names]:last").remove();
	if($("#corelation [name=x_names]").length<2) addcol("#corelation div.cols");
	
	$("#corelation [name=x_names]:eq(0)").val($('#v_dep_val').val());
	$("#corelation [name=x_names]:eq(1)").val($('#v_ind_val').val());

	layerPopupTypeA.toggle('corelation');
	
	$('#corelation button.primary').unbind('click').click(function() {
		var cmds = [];
		cmds.push("/python/corelation.sh");
		cmds.push(upload_path);
		cmds.push(allval("#corelation [name=x_names]"));
		layerPopupTypeA.toggle('corelation');
		execshell(cmds, function(result) {
			$('#ana_info').html(result);
			$('#resultviewer h2').text('상관분석 결과');
			layerPopupTypeA.toggle('resultviewer');
		});
	});	
});

// 기술통계분석
$('#step72').click( function() {
	layerPopupTypeA.toggle('statistics');
	$('#statistics button.primary').unbind('click').click(function() {
		var cmds = [];
		cmds.push("/python/statistics.sh");
		cmds.push(upload_path);
		cmds.push(allval("#statistics [name=x_names]"));
		layerPopupTypeA.toggle('statistics');
		execshell(cmds);
	});	
});
	
</script>
<!-- 스크립트 영역 -->

