@charset "utf-8";
/* @font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: normal;
  src: url(font/NanumGothic-Regular.eot);
  src: url(font/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(font/NanumGothic-Regular.woff2) format('woff2'),
       url(font/NanumGothic-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: bold;
  src: url(font/NanumGothic-Bold.eot);
  src: url(font/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(font/NanumGothic-Bold.woff2) format('woff2'),
       url(font/NanumGothic-Bold.woff) format('woff');
} */

@font-face {
  font-family: 'Noto Sans CJK kr';
  src: url('font/notokr-demilight.eot');
  src: url('font/notokr-demilight.eot?#iefix') format('embedded-opentype'),
      url('font/notokr-demilight.woff2') format('woff2'),
      url('font/notokr-demilight.woff') format('woff'),
      url('font/notokr-demilight.ttf') format('truetype'),
      url('font/notokr-demilight.svg#notokr-demilight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans CJK kr';
  src: url('font/notokr-medium.eot');
  src: url('font/notokr-medium.eot?#iefix') format('embedded-opentype'),
      url('font/notokr-medium.woff2') format('woff2'),
      url('font/notokr-medium.woff') format('woff'),
      url('font/notokr-medium.ttf') format('truetype'),
      url('font/notokr-medium.svg#notokr-medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans CJK kr';
  src: url('font/notokr-bold.eot');
  src: url('font/notokr-bold.eot?#iefix') format('embedded-opentype'),
       url('font/notokr-bold.woff2') format('woff2'),
       url('font/notokr-bold.woff') format('woff'),
       url('font/notokr-bold.ttf') format('truetype'),
       url('font/notokr-bold.svg#notokr-bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
