@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Quicksand:wght@300;400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

@-webkit-keyframes hidden {
    from {
        overflow: hidden
    }
    to {
        overflow: visible
    }
}

@keyframes hidden {
    from {
        overflow: hidden
    }
    to {
        overflow: visible
    }
}

@keyframes hidden {
    from {
        overflow: hidden
    }
    to {
        overflow: visible
    }
}

.button-area.style-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.button-area.style-a .btn.flex {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%
}

.button-area.style-a .btn + .btn.medium {
    margin-left: .5rem
}

.button-area.style-a .btn + .btn.large {
    margin-left: .5rem;
    margin-left: 10px;
}

.button-area.style-a .btn + .btn.x-large {
    margin-left: 1.25rem
}

.button-area.style-a .btn + .style-text.medium {
    margin-left: 1.5rem
}

.button-area.style-a.type-b {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.button-area.style-a.type-c {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.btn {
    font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif
}

.btn svg {
    display: block;
    position: relative;
    top: 0;
    left: 0
}

button.btn, input.btn {
    overflow: visible;
    padding: 0;
    border: 0 none transparent;
    cursor: pointer;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

span.btn {
    cursor: pointer
}

.btn.module-a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none
}

.btn.module-a .btn-text {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 1
}

.btn.module-a.style-a {
    border-radius: 0
}

.btn.module-a.style-b {
    border-radius: .1875em
}

.btn.module-a.style-c {
    border-radius: 100em
}

.btn.module-a.x-small {
    height: 2.625rem;
    line-height: 1;
    font-size: 1.125rem
}

.btn.module-a.x-small .btn-text {
    height: inherit;
    padding-left: .5em;
    padding-right: .5em
}

.btn.module-a.small {
    height: 50px;
    line-height: 1;
    font-size: 1.125rem;
    font-size: 18px
}

.btn.module-a.small .btn-text {
    height: inherit;
    padding-left: .5em;
    padding-right: .5em
}

.btn.module-a.medium {
    height: 3.5rem;
    line-height: 1;
    font-size: 1.125rem
}

.btn.module-a.medium .btn-text {
    height: inherit;
    padding-left: .5em;
    padding-right: .5em
}

.btn.module-a.large {
    height: 4rem;
    height: 60px;
    line-height: 1;
    font-size: 1.375rem;
    font-size: 22px;
}

.btn.module-a.large .btn-text {
    height: inherit;
    padding-left: .5em;
    padding-left: 10px;
    padding-right: .5em;
    padding-right: 10px;
}

.btn.module-a.x-large {
    height: 4.5rem;
    line-height: 1;
    font-size: 1.625rem;
}

.btn.module-a.x-large .btn-text {
    height: inherit;
    padding-left: 1.5em;
    padding-right: 1.5em
}

.btn.module-a.xx-large {
    height: 5rem;
    line-height: 1;
    font-size: 1.625rem
}

.btn.module-a.xx-large .btn-text {
    height: inherit;
    padding-left: 1.5em;
    padding-right: 1.5em
}

.btn.module-a.type-a.normal-02 {
    font-weight: 400;
    color: #000;
    -webkit-box-shadow: inset 0 0 0 .0625rem #fff;
    box-shadow: inset 0 0 0 .0625rem #fff;
    background-color: #000
}

.btn.module-a.type-a.normal-01 {
    font-weight: 400;
    color: #000;
    -webkit-box-shadow: inset 0 0 0 .0625rem #fff;
    box-shadow: inset 0 0 0 .0625rem #fff;
    background-color: #000
}

.btn.module-a.type-a.accent-01 {
    font-weight: 400;
    color: #fff;
    -webkit-box-shadow: inset 0 0 0 .0625rem #3990d3;
    box-shadow: inset 0 0 0 .0625rem #3990d3;
    background-color: #3990d3
}

.btn.module-a.type-b.normal-02 {
    font-weight: 300;
    color: #000;
    -webkit-box-shadow: inset 0 0 0 .0625rem #ccc;
    box-shadow: inset 0 0 0 .0625rem #ccc;
    background-color: #fff
}

.btn.module-a.type-b.normal-01 {
    font-weight: 300;
    color: #000;
    -webkit-box-shadow: inset 0 0 0 .0625rem #000;
    box-shadow: inset 0 0 0 .0625rem #000;
    background-color: #fff
}

.btn.module-a.type-b.accent-01 {
    font-weight: 300;
    color: #000;
    -webkit-box-shadow: inset 0 0 0 .0625rem #3990d3;
    box-shadow: inset 0 0 0 .0625rem #3990d3;
    background-color: #fff
}

.btn.module-a.type-c.normal-02 {
    font-weight: 300;
    color: #000;
    -webkit-box-shadow: inset 0 0 0 .0625rem #ccc;
    box-shadow: inset 0 0 0 .0625rem #ccc;
    background-color: #f9f9f9;
    min-width: 150px !important;
}

.btn.module-a.type-c.normal-01 {
    font-weight: 300;
    color: #000;
    -webkit-box-shadow: inset 0 0 0 .0625rem #ccc;
    box-shadow: inset 0 0 0 .0625rem #ccc;
    background-color: #f9f9f9
}

.btn.module-a.type-d.normal-02 {
    font-weight: 300;
    color: #000;
    -webkit-box-shadow: inset 0 0 0 .125rem #ccc;
    box-shadow: inset 0 0 0 .125rem #ccc;
    background-color: #fff
}

.btn.module-a.type-d.normal-01 {
    font-weight: 300;
    color: #000;
    -webkit-box-shadow: inset 0 0 0 .125rem #000;
    box-shadow: inset 0 0 0 .125rem #000;
    background-color: #fff
}

.btn.module-a.type-d.accent-01 {
    font-weight: 300;
    color: #000;
    -webkit-box-shadow: inset 0 0 0 .125rem #3990d3;
    box-shadow: inset 0 0 0 .125rem #3990d3;
    background-color: #fff
}

.btn.module-a.type-e.normal-10 {
    font-weight: 300;
    color: #fff;
    -webkit-box-shadow: inset 0 0 0 .25rem #fff;
    box-shadow: inset 0 0 0 .25rem #fff;
    background-color: transparent
}

.btn.module-a.type-e.normal-10.normal-10.symbol-chevron-right .btn-text::after {
    content: '';
    display: block;
    margin-left: .25em;
    width: 1.5rem;
    height: 1.5rem;
    opacity: .5;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='fill: rgba(255,255,255,1)'%3E%3Cpath d='M9.6,17.8c-0.3,0.3-0.7,0.3-0.9,0c-0.2-0.2-0.3-0.6-0.1-0.8l0.1-0.1l5-4.9l-5-4.9C8.5,6.9,8.4,6.5,8.6,6.3l0.1-0.1C8.9,6,9.3,5.9,9.5,6.1l0.1,0.1l5.9,5.8C15.5,12,9.6,17.8,9.6,17.8z'/%3E%3C/svg%3E")
}

.btn.module-a.type-e.normal-02 {
    font-weight: 300;
    color: #000;
    -webkit-box-shadow: inset 0 0 0 .25rem #ccc;
    box-shadow: inset 0 0 0 .25rem #ccc;
    background-color: #fff
}

.btn.module-a.type-e.normal-02.normal-10.symbol-chevron-right .btn-text::after {
    content: '';
    display: block;
    margin-left: .25em;
    width: 1.5rem;
    height: 1.5rem;
    opacity: .5;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='fill: rgba(255,255,255,1)'%3E%3Cpath d='M9.6,17.8c-0.3,0.3-0.7,0.3-0.9,0c-0.2-0.2-0.3-0.6-0.1-0.8l0.1-0.1l5-4.9l-5-4.9C8.5,6.9,8.4,6.5,8.6,6.3l0.1-0.1C8.9,6,9.3,5.9,9.5,6.1l0.1,0.1l5.9,5.8C15.5,12,9.6,17.8,9.6,17.8z'/%3E%3C/svg%3E")
}

.btn.module-a.type-e.normal-01 {
    font-weight: 300;
    color: #000;
    -webkit-box-shadow: inset 0 0 0 .25rem #000;
    box-shadow: inset 0 0 0 .25rem #000;
    background-color: #fff
}

.btn.module-a.type-e.normal-01.normal-10.symbol-chevron-right .btn-text::after {
    content: '';
    display: block;
    margin-left: .25em;
    width: 1.5rem;
    height: 1.5rem;
    opacity: .5;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='fill: rgba(255,255,255,1)'%3E%3Cpath d='M9.6,17.8c-0.3,0.3-0.7,0.3-0.9,0c-0.2-0.2-0.3-0.6-0.1-0.8l0.1-0.1l5-4.9l-5-4.9C8.5,6.9,8.4,6.5,8.6,6.3l0.1-0.1C8.9,6,9.3,5.9,9.5,6.1l0.1,0.1l5.9,5.8C15.5,12,9.6,17.8,9.6,17.8z'/%3E%3C/svg%3E")
}

.btn.module-a.type-e.accent-01 {
    font-weight: 300;
    color: #000;
    -webkit-box-shadow: inset 0 0 0 .25rem #3990d3;
    box-shadow: inset 0 0 0 .25rem #3990d3;
    background-color: #fff
}

.btn.module-a.type-e.accent-01.normal-10.symbol-chevron-right .btn-text::after {
    content: '';
    display: block;
    margin-left: .25em;
    width: 1.5rem;
    height: 1.5rem;
    opacity: .5;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='fill: rgba(255,255,255,1)'%3E%3Cpath d='M9.6,17.8c-0.3,0.3-0.7,0.3-0.9,0c-0.2-0.2-0.3-0.6-0.1-0.8l0.1-0.1l5-4.9l-5-4.9C8.5,6.9,8.4,6.5,8.6,6.3l0.1-0.1C8.9,6,9.3,5.9,9.5,6.1l0.1,0.1l5.9,5.8C15.5,12,9.6,17.8,9.6,17.8z'/%3E%3C/svg%3E")
}

.btn.style-text.small {
    font-weight: 300;
    line-height: 1.5;
    font-size: 1rem
}

.btn.style-text.medium {
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.125rem
}

.btn.style-text.large {
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.375rem
}

.btn.style-text.xx-large {
    font-weight: 300;
    line-height: 1.5;
    font-size: 2.25rem
}

.btn.style-text.normal-02 {
    color: #000
}

.btn.style-text.normal-01 {
    color: #000
}

.btn.style-text.accent-01 {
    color: #000
}

@keyframes hidden {
    from {
        overflow: hidden
    }
    to {
        overflow: visible
    }
}

.form-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.form-area .flex {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%
}

.form-area > .medium + .medium {
    margin-left: .5rem
}

.form {
    position: relative
}

.form .form-elem {

    font-weight: 400;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0 none;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent
}

.form .form-elem:disabled {
    opacity: .3
}

.form .form-elem:disabled + .form-label {
    opacity: .3
}

.form .form-elem::-ms-clear {
    display: none
}

.form.module-a {
    display: inline-block
}

.form.module-a .form-elem:-ms-input-placeholder {
    color: #bbb !important
}

.form.module-a .form-elem:-moz-placeholder {
    color: #bbb !important
}

.form.module-a .form-elem::-moz-placeholder {
    color: #bbb !important
}

.form.module-a .form-elem::-webkit-input-placeholder {
    color: #bbb !important
}

.form.module-a input[type=number]::-webkit-inner-spin-button, .form.module-a input[type=number]::-webkit-outer-spin-button {
    margin-left: 0
}

.form.module-a input[type=number] {
    -moz-appearance: textfield
}

.form.module-a.date .form-elem, .form.module-a.select .form-elem, .form.module-a.textarea .form-elem, .form.module-a.textfield .form-elem {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    width: 100%
}

.form.module-a.date.style-a .form-elem, .form.module-a.select.style-a .form-elem, .form.module-a.textarea.style-a .form-elem, .form.module-a.textfield.style-a .form-elem {
    border-radius: 0
}

.form.module-a.date.style-b .form-elem, .form.module-a.select.style-b .form-elem, .form.module-a.textarea.style-b .form-elem, .form.module-a.textfield.style-b .form-elem {
    border-radius: .1875em
}

.form.module-a.date.style-c .form-elem, .form.module-a.select.style-c .form-elem, .form.module-a.textarea.style-c .form-elem, .form.module-a.textfield.style-c .form-elem {
    border-radius: 100em
}

.form.module-a.date.x-small .form-elem, .form.module-a.select.x-small .form-elem, .form.module-a.textarea.x-small .form-elem, .form.module-a.textfield.x-small .form-elem {
    padding-left: .5em;
    font-size: 1.125rem
}

.form.module-a.date.small .form-elem, .form.module-a.select.small .form-elem, .form.module-a.textarea.small .form-elem, .form.module-a.textfield.small .form-elem {
    padding-left: .5em;
    /*font-size: 1.125rem*/
}

.form.module-a.date.medium .form-elem, .form.module-a.select.medium .form-elem, .form.module-a.textarea.medium .form-elem, .form.module-a.textfield.medium .form-elem {
    padding-left: .5em;
    font-size: 1.125rem
}

.form.module-a.date.large .form-elem, .form.module-a.select.large .form-elem, .form.module-a.textarea.large .form-elem, .form.module-a.textfield.large .form-elem {
    padding-left: .5em;
    font-size: 1.375rem
}

.form.module-a.date.x-large .form-elem, .form.module-a.select.x-large .form-elem, .form.module-a.textarea.x-large .form-elem, .form.module-a.textfield.x-large .form-elem {
    padding-left: 1.5em;
    font-size: 1.625rem
}

.form.module-a.date.xx-large .form-elem, .form.module-a.select.xx-large .form-elem, .form.module-a.textarea.xx-large .form-elem, .form.module-a.textfield.xx-large .form-elem {
    padding-left: 1.5em;
    font-size: 1.625rem
}

.form.module-a.date.type-a.normal-02 .form-elem, .form.module-a.select.type-a.normal-02 .form-elem, .form.module-a.textarea.type-a.normal-02 .form-elem, .form.module-a.textfield.type-a.normal-02 .form-elem {
    font-weight: 400;
    color: #000;
    border: .0625rem solid #fff;
    background-color: #000
}

.form.module-a.date.type-a.normal-01 .form-elem, .form.module-a.select.type-a.normal-01 .form-elem, .form.module-a.textarea.type-a.normal-01 .form-elem, .form.module-a.textfield.type-a.normal-01 .form-elem {
    font-weight: 400;
    color: #000;
    border: .0625rem solid #fff;
    background-color: #000
}

.form.module-a.date.type-a.accent-01 .form-elem, .form.module-a.select.type-a.accent-01 .form-elem, .form.module-a.textarea.type-a.accent-01 .form-elem, .form.module-a.textfield.type-a.accent-01 .form-elem {
    font-weight: 400;
    color: #fff;
    border: .0625rem solid #3990d3;
    background-color: #3990d3
}

.form.module-a.date.type-b.normal-02 .form-elem, .form.module-a.select.type-b.normal-02 .form-elem, .form.module-a.textarea.type-b.normal-02 .form-elem, .form.module-a.textfield.type-b.normal-02 .form-elem {
    font-weight: 300;
    color: #000;
    border: .0625rem solid #ccc;
    background-color: #fff
}

.form.module-a.date.type-b.normal-01 .form-elem, .form.module-a.select.type-b.normal-01 .form-elem, .form.module-a.textarea.type-b.normal-01 .form-elem, .form.module-a.textfield.type-b.normal-01 .form-elem {
    font-weight: 300;
    color: #000;
    border: .0625rem solid #000;
    background-color: #fff
}

.form.module-a.date.type-b.accent-01 .form-elem, .form.module-a.select.type-b.accent-01 .form-elem, .form.module-a.textarea.type-b.accent-01 .form-elem, .form.module-a.textfield.type-b.accent-01 .form-elem {
    font-weight: 300;
    color: #000;
    border: .0625rem solid #3990d3;
    background-color: #fff
}

.form.module-a.date.date.x-small .form-elem, .form.module-a.select.date.x-small .form-elem, .form.module-a.textarea.date.x-small .form-elem, .form.module-a.textfield.date.x-small .form-elem {
    padding-right: .5rem;
    height: 2.625rem
}

.form.module-a.date.date.x-small .form-elem::-webkit-inner-spin-button, .form.module-a.select.date.x-small .form-elem::-webkit-inner-spin-button, .form.module-a.textarea.date.x-small .form-elem::-webkit-inner-spin-button, .form.module-a.textfield.date.x-small .form-elem::-webkit-inner-spin-button {
    opacity: .4
}

.form.module-a.date.date.x-small .form-elem::-webkit-calendar-picker-indicator, .form.module-a.select.date.x-small .form-elem::-webkit-calendar-picker-indicator, .form.module-a.textarea.date.x-small .form-elem::-webkit-calendar-picker-indicator, .form.module-a.textfield.date.x-small .form-elem::-webkit-calendar-picker-indicator {
    opacity: .4
}

.form.module-a.date.date.small .form-elem, .form.module-a.select.date.small .form-elem, .form.module-a.textarea.date.small .form-elem, .form.module-a.textfield.date.small .form-elem {
    padding-right: .5rem;
    height: 3rem;
    height: 50px
}

.form.module-a.date.date.small .form-elem::-webkit-inner-spin-button, .form.module-a.select.date.small .form-elem::-webkit-inner-spin-button, .form.module-a.textarea.date.small .form-elem::-webkit-inner-spin-button, .form.module-a.textfield.date.small .form-elem::-webkit-inner-spin-button {
    opacity: .4
}

.form.module-a.date.date.small .form-elem::-webkit-calendar-picker-indicator, .form.module-a.select.date.small .form-elem::-webkit-calendar-picker-indicator, .form.module-a.textarea.date.small .form-elem::-webkit-calendar-picker-indicator, .form.module-a.textfield.date.small .form-elem::-webkit-calendar-picker-indicator {
    opacity: .4
}

.form.module-a.date.date.medium .form-elem, .form.module-a.select.date.medium .form-elem, .form.module-a.textarea.date.medium .form-elem, .form.module-a.textfield.date.medium .form-elem {
    padding-right: .5rem;
    height: 3.5rem
}

.form.module-a.date.date.medium .form-elem::-webkit-inner-spin-button, .form.module-a.select.date.medium .form-elem::-webkit-inner-spin-button, .form.module-a.textarea.date.medium .form-elem::-webkit-inner-spin-button, .form.module-a.textfield.date.medium .form-elem::-webkit-inner-spin-button {
    opacity: .4
}

.form.module-a.date.date.medium .form-elem::-webkit-calendar-picker-indicator, .form.module-a.select.date.medium .form-elem::-webkit-calendar-picker-indicator, .form.module-a.textarea.date.medium .form-elem::-webkit-calendar-picker-indicator, .form.module-a.textfield.date.medium .form-elem::-webkit-calendar-picker-indicator {
    opacity: .4
}

.form.module-a.date.date.large .form-elem, .form.module-a.select.date.large .form-elem, .form.module-a.textarea.date.large .form-elem, .form.module-a.textfield.date.large .form-elem {
    padding-right: .5rem;
    height: 4rem
}

.form.module-a.date.date.large .form-elem::-webkit-inner-spin-button, .form.module-a.select.date.large .form-elem::-webkit-inner-spin-button, .form.module-a.textarea.date.large .form-elem::-webkit-inner-spin-button, .form.module-a.textfield.date.large .form-elem::-webkit-inner-spin-button {
    opacity: .4
}

.form.module-a.date.date.large .form-elem::-webkit-calendar-picker-indicator, .form.module-a.select.date.large .form-elem::-webkit-calendar-picker-indicator, .form.module-a.textarea.date.large .form-elem::-webkit-calendar-picker-indicator, .form.module-a.textfield.date.large .form-elem::-webkit-calendar-picker-indicator {
    opacity: .4
}

.form.module-a.date.date.x-large .form-elem, .form.module-a.select.date.x-large .form-elem, .form.module-a.textarea.date.x-large .form-elem, .form.module-a.textfield.date.x-large .form-elem {
    padding-right: .5rem;
    height: 4.5rem
}

.form.module-a.date.date.x-large .form-elem::-webkit-inner-spin-button, .form.module-a.select.date.x-large .form-elem::-webkit-inner-spin-button, .form.module-a.textarea.date.x-large .form-elem::-webkit-inner-spin-button, .form.module-a.textfield.date.x-large .form-elem::-webkit-inner-spin-button {
    opacity: .4
}

.form.module-a.date.date.x-large .form-elem::-webkit-calendar-picker-indicator, .form.module-a.select.date.x-large .form-elem::-webkit-calendar-picker-indicator, .form.module-a.textarea.date.x-large .form-elem::-webkit-calendar-picker-indicator, .form.module-a.textfield.date.x-large .form-elem::-webkit-calendar-picker-indicator {
    opacity: .4
}

.form.module-a.date.date.xx-large .form-elem, .form.module-a.select.date.xx-large .form-elem, .form.module-a.textarea.date.xx-large .form-elem, .form.module-a.textfield.date.xx-large .form-elem {
    padding-right: .5rem;
    height: 5rem
}

.form.module-a.date.date.xx-large .form-elem::-webkit-inner-spin-button, .form.module-a.select.date.xx-large .form-elem::-webkit-inner-spin-button, .form.module-a.textarea.date.xx-large .form-elem::-webkit-inner-spin-button, .form.module-a.textfield.date.xx-large .form-elem::-webkit-inner-spin-button {
    opacity: .4
}

.form.module-a.date.date.xx-large .form-elem::-webkit-calendar-picker-indicator, .form.module-a.select.date.xx-large .form-elem::-webkit-calendar-picker-indicator, .form.module-a.textarea.date.xx-large .form-elem::-webkit-calendar-picker-indicator, .form.module-a.textfield.date.xx-large .form-elem::-webkit-calendar-picker-indicator {
    opacity: .4
}

.form.module-a.date.textfield.x-small .form-elem, .form.module-a.select.textfield.x-small .form-elem, .form.module-a.textarea.textfield.x-small .form-elem, .form.module-a.textfield.textfield.x-small .form-elem {
    padding-right: .5em;
    height: 2.625rem
}

.form.module-a.date.textfield.small .form-elem, .form.module-a.select.textfield.small .form-elem, .form.module-a.textarea.textfield.small .form-elem, .form.module-a.textfield.textfield.small .form-elem {
    padding-right: .5em;
    height: 3rem;
    height: 50px
}

.form.module-a.date.textfield.medium .form-elem, .form.module-a.select.textfield.medium .form-elem, .form.module-a.textarea.textfield.medium .form-elem, .form.module-a.textfield.textfield.medium .form-elem {
    padding-right: .5em;
    height: 3.5rem
}

.form.module-a.date.textfield.large .form-elem, .form.module-a.select.textfield.large .form-elem, .form.module-a.textarea.textfield.large .form-elem, .form.module-a.textfield.textfield.large .form-elem {
    padding-right: .5em;
    height: 4rem
}

.form.module-a.date.textfield.x-large .form-elem, .form.module-a.select.textfield.x-large .form-elem, .form.module-a.textarea.textfield.x-large .form-elem, .form.module-a.textfield.textfield.x-large .form-elem {
    padding-right: 1.5em;
    height: 4.5rem
}

.form.module-a.date.textfield.xx-large .form-elem, .form.module-a.select.textfield.xx-large .form-elem, .form.module-a.textarea.textfield.xx-large .form-elem, .form.module-a.textfield.textfield.xx-large .form-elem {
    padding-right: 1.5em;
    height: 5rem
}

.form.module-a.date.select.x-small .form-elem, .form.module-a.select.select.x-small .form-elem, .form.module-a.textarea.select.x-small .form-elem, .form.module-a.textfield.select.x-small .form-elem {
    padding-right: 2.625rem;
    height: 2.625rem;
    background-repeat: no-repeat;
    background-position: right .5rem center;
    background-size: 2rem 2rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='fill: rgba(174,174,174,1)'%3E%3Cpath d='M6.2,9.6c-0.3-0.3-0.3-0.7,0-0.9C6.4,8.5,6.8,8.4,7,8.6l0.1,0.1l4.9,5l4.9-5c0.2-0.2,0.6-0.3,0.8-0.1l0.1,0.1C18,8.9,18,9.3,17.9,9.5l-0.1,0.1L12,15.5L6.2,9.6z'/%3E%3C/svg%3E")
}

.form.module-a.date.select.x-small .form-elem::-ms-expand, .form.module-a.select.select.x-small .form-elem::-ms-expand, .form.module-a.textarea.select.x-small .form-elem::-ms-expand, .form.module-a.textfield.select.x-small .form-elem::-ms-expand {
    display: none
}

.form.module-a.date.select.small .form-elem, .form.module-a.select.select.small .form-elem, .form.module-a.textarea.select.small .form-elem, .form.module-a.textfield.select.small .form-elem {
    padding-right: 3rem;
    height: 3rem;
    height: 50px;
    background-repeat: no-repeat;
    background-position: right .5rem center;
    background-size: 30px 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='fill: rgba(174,174,174,1)'%3E%3Cpath d='M6.2,9.6c-0.3-0.3-0.3-0.7,0-0.9C6.4,8.5,6.8,8.4,7,8.6l0.1,0.1l4.9,5l4.9-5c0.2-0.2,0.6-0.3,0.8-0.1l0.1,0.1C18,8.9,18,9.3,17.9,9.5l-0.1,0.1L12,15.5L6.2,9.6z'/%3E%3C/svg%3E")
}

.form.module-a.date.select.small .form-elem::-ms-expand, .form.module-a.select.select.small .form-elem::-ms-expand, .form.module-a.textarea.select.small .form-elem::-ms-expand, .form.module-a.textfield.select.small .form-elem::-ms-expand {
    display: none
}

.form.module-a.date.select.medium .form-elem, .form.module-a.select.select.medium .form-elem, .form.module-a.textarea.select.medium .form-elem, .form.module-a.textfield.select.medium .form-elem {
    padding-right: 3.5rem;
    height: 3.5rem;
    background-repeat: no-repeat;
    background-position: right .5rem center;
    background-size: 2rem 2rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='fill: rgba(174,174,174,1)'%3E%3Cpath d='M6.2,9.6c-0.3-0.3-0.3-0.7,0-0.9C6.4,8.5,6.8,8.4,7,8.6l0.1,0.1l4.9,5l4.9-5c0.2-0.2,0.6-0.3,0.8-0.1l0.1,0.1C18,8.9,18,9.3,17.9,9.5l-0.1,0.1L12,15.5L6.2,9.6z'/%3E%3C/svg%3E")
}

.form.module-a.date.select.medium .form-elem::-ms-expand, .form.module-a.select.select.medium .form-elem::-ms-expand, .form.module-a.textarea.select.medium .form-elem::-ms-expand, .form.module-a.textfield.select.medium .form-elem::-ms-expand {
    display: none
}

.form.module-a.date.select.large .form-elem, .form.module-a.select.select.large .form-elem, .form.module-a.textarea.select.large .form-elem, .form.module-a.textfield.select.large .form-elem {
    padding-right: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-position: right .5rem center;
    background-size: 2rem 2rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='fill: rgba(174,174,174,1)'%3E%3Cpath d='M6.2,9.6c-0.3-0.3-0.3-0.7,0-0.9C6.4,8.5,6.8,8.4,7,8.6l0.1,0.1l4.9,5l4.9-5c0.2-0.2,0.6-0.3,0.8-0.1l0.1,0.1C18,8.9,18,9.3,17.9,9.5l-0.1,0.1L12,15.5L6.2,9.6z'/%3E%3C/svg%3E")
}

.form.module-a.date.select.large .form-elem::-ms-expand, .form.module-a.select.select.large .form-elem::-ms-expand, .form.module-a.textarea.select.large .form-elem::-ms-expand, .form.module-a.textfield.select.large .form-elem::-ms-expand {
    display: none
}

.form.module-a.date.select.x-large .form-elem, .form.module-a.select.select.x-large .form-elem, .form.module-a.textarea.select.x-large .form-elem, .form.module-a.textfield.select.x-large .form-elem {
    padding-right: 4.5rem;
    height: 4.5rem;
    background-repeat: no-repeat;
    background-position: right .5rem center;
    background-size: 2rem 2rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='fill: rgba(174,174,174,1)'%3E%3Cpath d='M6.2,9.6c-0.3-0.3-0.3-0.7,0-0.9C6.4,8.5,6.8,8.4,7,8.6l0.1,0.1l4.9,5l4.9-5c0.2-0.2,0.6-0.3,0.8-0.1l0.1,0.1C18,8.9,18,9.3,17.9,9.5l-0.1,0.1L12,15.5L6.2,9.6z'/%3E%3C/svg%3E")
}

.form.module-a.date.select.x-large .form-elem::-ms-expand, .form.module-a.select.select.x-large .form-elem::-ms-expand, .form.module-a.textarea.select.x-large .form-elem::-ms-expand, .form.module-a.textfield.select.x-large .form-elem::-ms-expand {
    display: none
}

.form.module-a.date.select.xx-large .form-elem, .form.module-a.select.select.xx-large .form-elem, .form.module-a.textarea.select.xx-large .form-elem, .form.module-a.textfield.select.xx-large .form-elem {
    padding-right: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-position: right .5rem center;
    background-size: 2rem 2rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='fill: rgba(174,174,174,1)'%3E%3Cpath d='M6.2,9.6c-0.3-0.3-0.3-0.7,0-0.9C6.4,8.5,6.8,8.4,7,8.6l0.1,0.1l4.9,5l4.9-5c0.2-0.2,0.6-0.3,0.8-0.1l0.1,0.1C18,8.9,18,9.3,17.9,9.5l-0.1,0.1L12,15.5L6.2,9.6z'/%3E%3C/svg%3E")
}

.form.module-a.date.select.xx-large .form-elem::-ms-expand, .form.module-a.select.select.xx-large .form-elem::-ms-expand, .form.module-a.textarea.select.xx-large .form-elem::-ms-expand, .form.module-a.textfield.select.xx-large .form-elem::-ms-expand {
    display: none
}

.form.module-a.date.textarea.x-small .form-elem, .form.module-a.select.textarea.x-small .form-elem, .form.module-a.textarea.textarea.x-small .form-elem, .form.module-a.textfield.textarea.x-small .form-elem {
    padding-top: .5em;
    padding-right: .5em;
    padding-bottom: .5em
}

.form.module-a.date.textarea.x-small div.form-elem, .form.module-a.select.textarea.x-small div.form-elem, .form.module-a.textarea.textarea.x-small div.form-elem, .form.module-a.textfield.textarea.x-small div.form-elem {
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.form.module-a.date.textarea.small .form-elem, .form.module-a.select.textarea.small .form-elem, .form.module-a.textarea.textarea.small .form-elem, .form.module-a.textfield.textarea.small .form-elem {
    padding-top: .5em;
    padding-right: .5em;
    padding-bottom: .5em
}

.form.module-a.date.textarea.small div.form-elem, .form.module-a.select.textarea.small div.form-elem, .form.module-a.textarea.textarea.small div.form-elem, .form.module-a.textfield.textarea.small div.form-elem {
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.form.module-a.date.textarea.medium .form-elem, .form.module-a.select.textarea.medium .form-elem, .form.module-a.textarea.textarea.medium .form-elem, .form.module-a.textfield.textarea.medium .form-elem {
    padding-top: .5em;
    padding-right: .5em;
    padding-bottom: .5em
}

.form.module-a.date.textarea.medium div.form-elem, .form.module-a.select.textarea.medium div.form-elem, .form.module-a.textarea.textarea.medium div.form-elem, .form.module-a.textfield.textarea.medium div.form-elem {
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.form.module-a.date.textarea.large .form-elem, .form.module-a.select.textarea.large .form-elem, .form.module-a.textarea.textarea.large .form-elem, .form.module-a.textfield.textarea.large .form-elem {
    padding-top: .5em;
    padding-right: .5em;
    padding-bottom: .5em
}

.form.module-a.date.textarea.large div.form-elem, .form.module-a.select.textarea.large div.form-elem, .form.module-a.textarea.textarea.large div.form-elem, .form.module-a.textfield.textarea.large div.form-elem {
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.form.module-a.date.textarea.x-large .form-elem, .form.module-a.select.textarea.x-large .form-elem, .form.module-a.textarea.textarea.x-large .form-elem, .form.module-a.textfield.textarea.x-large .form-elem {
    padding-top: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em
}

.form.module-a.date.textarea.x-large div.form-elem, .form.module-a.select.textarea.x-large div.form-elem, .form.module-a.textarea.textarea.x-large div.form-elem, .form.module-a.textfield.textarea.x-large div.form-elem {
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.form.module-a.date.textarea.xx-large .form-elem, .form.module-a.select.textarea.xx-large .form-elem, .form.module-a.textarea.textarea.xx-large .form-elem, .form.module-a.textfield.textarea.xx-large .form-elem {
    padding-top: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em
}

.form.module-a.date.textarea.xx-large div.form-elem, .form.module-a.select.textarea.xx-large div.form-elem, .form.module-a.textarea.textarea.xx-large div.form-elem, .form.module-a.textfield.textarea.xx-large div.form-elem {
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.form.module-a.style-a input.form-elem[type=checkbox], .form.module-a.style-a input.form-elem[type=radio] {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
    margin: 0;
    width: 1.5rem;
    min-width: 1.5rem;
    height: 1.5rem
}

html.ie .form.module-a.style-a input.form-elem[type=checkbox], html.ie .form.module-a.style-a input.form-elem[type=radio] {
    opacity: 0
}

.form.module-a.style-a .form-text {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.5rem;
    cursor: default
}

.form.module-a.style-a.large .form-text {
    font-size: 1.375rem;
    line-height: 1.5rem
}

.form.module-a.style-a.type-a .form-text {
    display: inline-block;
    vertical-align: top
}

.form.module-a.style-a.type-a .form-text::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 1.5rem;
    height: 1.5rem;
    width: 24px;
    height: 24px;
}

.form.module-a.style-a.type-a input[type=radio].form-elem + .form-text::before {
    border-radius: 50%
}

.form.module-a.style-a.type-a input[type=radio].form-elem:not(:checked) + .form-text::before {
    -webkit-box-shadow: inset 0 0 0 .0625rem #ccc;
    box-shadow: inset 0 0 0 .0625rem #ccc
}

.form.module-a.style-a.type-a input[type=radio].form-elem:checked + .form-text::before {
    background-color: #23b610
}

.form.module-a.style-a.type-a input[type=checkbox].form-elem + .form-text::before {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.25rem auto
}

.form.module-a.style-a.type-a input[type=checkbox].form-elem:not(:checked) + .form-text::before {
    -webkit-box-shadow: inset 0 0 0 .0625rem #ccc;
    box-shadow: inset 0 0 0 .0625rem #ccc
}

.form.module-a.style-a.type-a input[type=checkbox].form-elem:checked + .form-text::before {
    background-color: #3990d3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='fill: rgba(255,255,255,1)'%3E%3Cpath d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E")
}

.em.module-a.accent-01 {
    color: #3990d3
}

.em.module-a.xx-large {
    font-size: 2.25rem;
    font-size: 36px;
    line-height: 1.5
}

.info-board.style-c.type-b {
    text-align: center
}

.info-board.style-c .wbr {
    display: block
}

.info-board.style-c .head {
    font-size: 3rem;
    line-height: 4rem
}

.info-board.style-c .body {
    margin-top: 1rem
}

.info-board.style-c .body .summary {
    margin: 0;
    font-size: 1.25rem;
    font-size: 22px;
    font-weight: 100;
    line-height: 1.5
}

.info-board.style-c .body .button-area {
    margin-top: 6rem
}

.info-board.style-c .body .button-area .btn {
    width: 20rem
}

.data-list {
    margin: 0;
    padding: 0
}
.data-list input{
    width: 100%;
    border: 1px solid #ddd;
    box-sizing: border-box;
    height: 45px;
    font-size: 18px;
    padding:0 10px;
}



.data-list .data-item {
    list-style: none
}




.data-display.module-a.style-a .data-item {
    font-size: 1.25rem;
    font-size: 18px;
    line-height: 2.5rem;
    font-weight: 100;
    -webkit-box-shadow: inset 0 -.0625rem 0 0 #eee;
    box-shadow: inset 0 -.0625rem 0 0 #eee
}

.data-display.module-a.style-a .data-item .data-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 0
}

.data-display.module-a.style-a .data-item .data-area .data-body {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right
}

.data-table.module-c.style-a {
    -webkit-box-shadow: 0 -.125rem 0 0 #aaa;
    box-shadow: 0 -.125rem 0 0 #aaa
}

.data-table.module-c.style-a table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse
}

.data-table.module-c.style-a caption {
    display: block;
    position: absolute;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    line-height: 1px;
    font-size: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0)
}

.data-table.module-c.style-a thead th {
    height: 4.5rem;
    height: 70px;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    background-color: #f5f6f7;
    -webkit-box-shadow: inset 0 -.0625rem 0 0 #eee;
    box-shadow: inset 0 -.0625rem 0 0 #eee;

    vertical-align: middle;
    font-size: 16px;
}

.data-table.module-c.style-a tbody td {
    padding: 1.25rem 0;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1rem;
    height: 60px;
    text-align: center;
    -webkit-box-shadow: inset 0 -.0625rem 0 0 #eee;
    box-shadow: inset 0 -.0625rem 0 0 #eee;

    vertical-align: middle;
    font-size: 16px;
    box-sizing: border-box;
}

.pagination.module-a.style-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.pagination.module-a.style-a .page-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 1.25rem;

    justify-content: center;
    align-items: center;


}

.pagination.module-a.style-a .page-list .page-item {
    display: inline-block;
    width: 36px;
    height: 36px;
    padding: 4px;
    font-size: 1.25rem;
    font-size: 18px;
    /*line-height: 2.25rem;*/
    text-align: center;
    text-decoration: none;

    box-sizing: border-box;
    vertical-align: bottom;

}

.pagination.module-a.style-a .page-list .page-item + .page-item {
    margin-left: .25rem
}

.pagination.module-a.style-a .page-list .page-item:not(.current) {
    color: #666;
    -webkit-box-shadow: inset 0 0 0 .125rem #f3f3f3;
    box-shadow: inset 0 0 0 .125rem #f3f3f3
}

.pagination.module-a.style-a .page-list .page-item.current {
    color: #fff;
    background-color: #666
}

.pagination.module-a.style-a .control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
    width: 36px;
    height: 36px;
    -webkit-box-shadow: inset 0 0 0 .125rem #f3f3f3;
    box-shadow: inset 0 0 0 .125rem #f3f3f3;
    background-color: #f9f9f9
}

.pagination.module-a.style-a .control svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #aeaeae
}

.form-list {
    margin: 0;
    padding: 0;
    border: 0 none
}

.form-list legend {
    display: block;
    position: absolute;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    line-height: 1px;
    font-size: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0)
}

.submit-form.module-a * + .form-area {
    margin-top: .5rem;
    margin-top: 10px
}

.submit-form.module-a .form-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.submit-form.module-a .form-area > * + * {
    margin-left: .5rem;
    margin-left: 10px
}

.submit-form.module-a .form-area .flex {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.submit-form.module-a .form-area .unit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1rem;
    min-width: 1rem;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.25rem;
    font-size: 18px
}

.submit-form.module-a .form-area .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1.5;
    font-size: .875rem
}

.submit-form.module-a .form-area {
    min-height: 3rem
}

.submit-form.module-a .form-list .form-item .form-head .form-name {
    font-weight: 300;
    font-size: 1.25rem;
    font-size: 20px;
    line-height: 1.5
}

.submit-form.module-a .form-list .form-item .form-head .form-name .required {
    color: #e90303
}

.submit-form.module-a .form-list .form-item + .form-item {
    margin-top: 10px
}

.submit-form.module-a .form-noti {
    margin: 10px 0 0 0;
    font-size: 1rem;
    font-size: 16px;
    line-height: 1.5
}

.submit-form.module-a.type-a .form-head {
    display: block;
    position: absolute;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    line-height: 1px;
    font-size: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0)
}

.submit-form.module-a.type-b .form-head {
    margin-bottom: .5rem
}

.submit-form.module-a.type-c .form-list {
    padding: 1.5rem 0;
    -webkit-box-shadow: inset 0 -.0625rem 0 0 #ededed;
    box-shadow: inset 0 -.0625rem 0 0 #ededed
}

.submit-form.module-a.type-c .form-list .form-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.submit-form.module-a.type-c .form-list .form-item .form-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 1rem;
    min-height: 3rem;
    min-height: 50px;
    width: 230px;
    min-width: 14rem
}

html.ie .submit-form.module-a.type-c .form-list .form-item .form-head {
    height: 3rem
}

.submit-form.module-a.type-c .form-list .form-item .form-body {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    min-height: 3rem;
    min-height: 50px;
}

html.ie .submit-form.module-a.type-c .form-list .form-item .form-body .form-area {
    height: 3rem;

}

