@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 100;
    src: local('NanumGothicL'),
        url('../fonts/NanumGothic/NanumGothicL.woff2') format('woff2'), 
        url('../fonts/NanumGothic/NanumGothicL.woff') format('woff'),
        url('../fonts/NanumGothic/NanumGothicL.ttf') format('truetype'),
        url('../fonts/NanumGothic/NanumGothicL.otf') format('opentype'),
        url('../fonts/NanumGothic/NanumGothicL.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 400;
    src: local('NanumGothicR'),
        url('../fonts/NanumGothic/NanumGothicR.woff2') format('woff2'), 
        url('../fonts/NanumGothic/NanumGothicR.woff') format('woff'),
        url('../fonts/NanumGothic/NanumGothicR.ttf') format('truetype'),
        url('../fonts/NanumGothic/NanumGothicR.otf') format('opentype'),
        url('../fonts/NanumGothic/NanumGothicR.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 700;
    src: local('NanumGothicB'),
        url('../fonts/NanumGothic/NanumGothicB.woff2') format('woff2'), 
        url('../fonts/NanumGothic/NanumGothicB.woff') format('woff'),
        url('../fonts/NanumGothic/NanumGothicB.ttf') format('truetype'),
        url('../fonts/NanumGothic/NanumGothicB.otf') format('opentype'),
        url('../fonts/NanumGothic/NanumGothicB.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 900;
    src: local('NanumGothicEB'),
        url('../fonts/NanumGothic/NanumGothicEB.woff2') format('woff2'), 
        url('../fonts/NanumGothic/NanumGothicEB.woff') format('woff'),
        url('../fonts/NanumGothic/NanumGothicEB.ttf') format('truetype'),
        url('../fonts/NanumGothic/NanumGothicEB.otf') format('opentype'),
        url('../fonts/NanumGothic/NanumGothicEB.eot') format('embedded-opentype');
}

/* Nunito Sans */
@font-face {
    font-family: 'NunitoSans';
    font-style: normal;
    font-weight: 100;
    src: local('NunitoSans-Light'),
        url('../fonts/Nunito Sans/NunitoSans-Light.woff') format('woff'),
        url('../fonts/Nunito Sans/NunitoSans-Light.ttf') format('truetype'),
        url('../fonts/Nunito Sans/NunitoSans-Light.otf') format('opentype'),
        url('../fonts/Nunito Sans/NunitoSans-Light.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NunitoSans';
    font-style: normal;
    font-weight: 400;
    src: local('NunitoSans-Regular'),
        url('../fonts/Nunito Sans/NunitoSans-Regular.woff') format('woff'),
        url('../fonts/Nunito Sans/NunitoSans-Regular.ttf') format('truetype'),
        url('../fonts/Nunito Sans/NunitoSans-Regular.otf') format('opentype'),
        url('../fonts/Nunito Sans/NunitoSans-Regular.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NunitoSans';
    font-style: normal;
    font-weight: 700;
    src: local('NunitoSans-Bold'),
        url('../fonts/Nunito Sans/NunitoSans-Bold.woff') format('woff'),
        url('../fonts/Nunito Sans/NunitoSans-Bold.ttf') format('truetype'),
        url('../fonts/Nunito Sans/NunitoSans-Bold.otf') format('opentype'),
        url('../fonts/Nunito Sans/NunitoSans-Bold.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NunitoSans';
    font-style: normal;
    font-weight: 900;
    src: local('NunitoSans-ExtraBold'),
        url('../fonts/Nunito Sans/NunitoSans-ExtraBold.woff') format('woff'),
        url('../fonts/Nunito Sans/NunitoSans-ExtraBold.ttf') format('truetype'),
        url('../fonts/Nunito Sans/NunitoSans-ExtraBold.otf') format('opentype'),
        url('../fonts/Nunito Sans/NunitoSans-ExtraBold.eot') format('embedded-opentype');
}
